@font-face {
    font-family: inter;
    src: url('./assets/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

:root {
    --background-color: #f8f9fb;
    --text-color: #1a1d21;
    --text-light-gray-color: #6b7280;

    --sidebar-background-color: #ffffff;
    --card-background-color: #ffffff;

    --border-color: #e5e7eb;
    --border-gray-color: #ccc;


    --black-color: #000000;
    --white-color: #ffffff;

    --light-blue-color: #dbeafe;
    --text-blue-color: #1e40af;
    --link-blue-color: #0056b3;

    --light-green-color: #dcfce7;
    --text-green-color: #166534;
    --btn-green-color: #28a745;

    --light-red-color: #fee2e2;
    --text-red-color: #991b1b;

    --card-box-shadow-color: #0000001a;
    --modal-background-color: #00000080;
}

.dark {
    --background-color: #0f1115;
    --text-color: #e5e7eb;
    --text-light-gray-color: #9ca3af;

    --sidebar-background-color: #161a22;
    --card-background-color: #161a22;

    --border-color: #2a2f3a;
    --border-gray-color: #3a3f4a;

    --black-color: #000000;
    --white-color: #ffffff;

    --light-blue-color: #1e3a8a;
    --text-blue-color: #93c5fd;
    --link-blue-color: #60a5fa;

    --light-green-color: #14532d;
    --text-green-color: #86efac;
    --btn-green-color: #22c55e;

    --light-red-color: #7f1d1d;
    --text-red-color: #fca5a5;

    --card-box-shadow-color: #00000066;
    --modal-background-color: #000000b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container .auth {
    display: flex;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.container .auth .auth-card {
    background: var(--card-background-color);
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px var(--card-box-shadow-color);
    width: 100%;
    max-width: 350px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .auth .auth-card form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label.required::after {
    content: " *";
    color: red;
}

.container .auth .auth-card .form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.container .auth .auth-card .form-group label {
    padding-bottom: 0.375rem;
}

.container .auth .auth-card .form-group input {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid var(--border-gray-color);
    border-radius: 0.375rem;
    box-sizing: border-box;
}

.container .auth .auth-card button {
    width: 100%;
    padding: 0.625rem;
    color: var(--white-color);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: bold;
}

.container .auth .auth-card .register-bt {
    background: var(--btn-green-color);
}

.container .auth .auth-card .login-bt {
    background: var(--link-blue-color);
}


.container .auth .auth-card .auth-suggestion {
    font-size: 0.875rem;
}

.container .auth .auth-card a {
    color: var(--link-blue-color);
    text-decoration: none;
}

.container .auth.hidden,
.container .internal.hidden,
.container .auth .auth-card.hidden,
.modal.hidden,
.view-section.hidden {
    display: none;
}

.container .internal {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    width: 17%;
    background-color: var(--sidebar-background-color);
    border-right: 1px solid var(--border-color);
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.sidebar .logo .logo-icon {
    font-size: 1.875rem;
}

.sidebar .logo .logo-text h2 {
    font-size: 1.125rem;
    font-weight: 700;
}

.sidebar .logo .logo-text p {
    font-size: 0.75rem;
    color: var(--text-light-gray-color);
}

.sidebar .nav-menu {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding-block: 2rem;

}

.sidebar .nav-menu .nav-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    padding: 0.75rem 1rem;

    text-decoration: none;
    color: var(--text-light-gray-color);

    border-radius: 0.5rem;
    font-weight: 500;
}

.sidebar .nav-menu .nav-item:hover,
.nav-item.active {
    background-color: var(--light-blue-color);
    color: var(--text-blue-color);
}

.sidebar .nav-menu .nav-item i {
    font-size: 1.2rem;
}

.sidebar .add-transaction-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--black-color);
    color: var(--white-color);
    border: none;

    padding: 0.875rem;
    border-radius: 0.5rem;
    font-weight: 600;

    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    flex: 1;

    min-width: 0;
    min-height: 100vh;
    overflow-y: auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 1rem 2rem;
    background-color: var(--sidebar-background-color);
    border-bottom: 1px solid var(--border-color);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right #logout-btn {
    padding: 0.5rem 1rem;

    border: 1px solid var(--light-red-color);
    background-color: var(--light-red-color);
    color: var(--text-red-color);
    border-radius: 0.375rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-weight: 500;
}

.nav-right #logout-btn i {
    font-size: 1.2rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-left: 1px solid var(--border-color);
    padding-left: 1.25rem;
}

.user-name {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-color);
    text-transform: capitalize;
}

.bg-blue {
    background: var(--light-blue-color);
    color: var(--text-blue-color);
}

.bg-green {
    background: var(--light-green-color);
    color: var(--text-green-color);
}

.bg-red {
    background: var(--light-red-color);
    color: var(--text-red-color);
}

.view-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: calc(100vh - 70px);
}

.view-section .view-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-bottom: 2rem;
}

.view-section .view-header h1 {
    font-size: 1.75rem;
}

.view-section .view-header p {
    color: var(--text-light-gray-color);
    font-size: 0.875rem;
}

.view-section .view-stat-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}

.view-section .view-stat-cards .card,
.content .card {
    background-color: var(--card-background-color);
    border: 1px solid var(--border-color);
    border-radius: 0.75rem;
    padding: 1.25rem;

}

.view-section .view-stat-cards .card {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.view-section .view-stat-cards .card .card-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card p {
    color: var(--text-muted);
    font-size: 0.875rem;
    padding-top: 0.875rem;
}

.card h3 {
    font-size: 1.5rem;
}

#stat-balance,
#stat-count {
    color: var(--text-blue-color);
}

#stat-expense {
    color: var(--text-red-color);
}

#stat-income {
    color: var(--text-green-color);
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.25rem;
}

#view-settings .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.content .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.content .card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.transaction-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.transaction-table .search-box {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.transaction-table .search-box .search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 40%;
}

.transaction-table .search-box .search-bar .search-ic {
    font-weight: bold;
    font-size: 1rem;
}

.transaction-table .search-box .search-bar input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    color: var(--text-color);
}

.transaction-table select {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    outline: none;
    flex: 1;
}

.table-box {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    text-align: left;
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-light-gray-color);
    font-size: 0.75rem;
}

td {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.875rem;
}


#transaction-table-data .actions .edit-ic,
#transaction-table-data .actions .delete-ic {
    padding-inline: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.edit-ic {
    color: var(--text-blue-color);
}

.edit-ic:hover {
    background-color: var(--light-blue-color);
    padding-block: 0.5rem;
}


.delete-ic {
    color: var(--text-red-color);
}

.delete-ic:hover {
    background-color: var(--light-red-color);
    padding-block: 0.5rem;
}

.modal {
    position: fixed;
    z-index: 100;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background-color);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.modal-content {
    background-color: var(--card-background-color);
    padding: 1.5rem;
    border-radius: 0.75rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 25px var(--card-box-shadow-color);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.modal .form-group label {
    padding-bottom: 0.375rem;
}

.modal .form-group input {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid var(--border-gray-color);
    border-radius: 0.375rem;
    box-sizing: border-box;
}

.modal button {
    width: 100%;
    padding: 0.625rem;
    color: var(--white-color);
    background-color: var(--link-blue-color);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: bold;
}

.modal select {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    outline: none;
    flex: 1;
}

.modal .close-modal {
    cursor: pointer;
    font-weight: bold;
}

.container .settings form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .settings #settings-form .form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.container .settings #settings-form .form-group label {
    padding-bottom: 0.375rem;
}

.container .settings #settings-form .form-group input {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid var(--border-gray-color);
    border-radius: 0.375rem;
    box-sizing: border-box;
    text-transform: capitalize;
}

.container .settings #settings-form button {
    width: 100%;
    padding: 0.625rem;
    color: var(--white-color);
    background-color: var(--black-color);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: bold;
}

.container .settings #settings-form select {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    outline: none;
    flex: 1;

}

.container .settings .preference {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.container .settings .preference .preference-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.container .settings .preference #reset-data {
    width: 100%;
    padding: 0.625rem;
    color: var(--text-red-color);
    background-color: var(--light-red-color);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: bold;
}

.container .settings .preference #theme-toggle {
    cursor: pointer;
}

button:active {
    transform: scale(0.97);
}